@inherits LayoutComponentBase
@using FRONTEND.Services
@using FRONTEND.Components.Shared
@inject ICurrentAlbumColorService CurrentAlbumColorService

<div class="page">
    <main>
        <article class="content">
            @Body
        </article>
    </main>
    <footer class="main-footer" style="color: var(--layout-text-color, white); z-index: 9999;">
        <a href="https://samkey.uk" style="color: var(--layout-text-color, white); text-decoration: none;">
            samkey.uk
        </a>
    </footer>
</div>


<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>


