@inherits LayoutComponentBase
@using FRONTEND.Services
@inject ICurrentAlbumColorService CurrentAlbumColorService

<div class="page">
    <main>
        <div class="top-row">
            <h1 style="color: var(--layout-text-color, white);">VINYL COLLECTION</h1>
        </div> 

        <article class="content">
            @Body
        </article>

    </main>
</div>
<footer class="main-footer" style="color: var(--layout-text-color, white);">samkey.uk</footer>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>


