@font-face {
    font-family: 'Soopafre';
    src: url('assets/fonts/soopafre.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.top-row {
    position: fixed;
    padding: .5rem;
    height: 7rem;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 3vw;
    color: white;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

    .top-row h1 {
        font-family: 'Soopafre', sans-serif;
        transition: color 0.5s ease-in-out;
    }

    .top-row ::deep a, .top-row ::deep .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row ::deep a:hover, .top-row ::deep .btn-link:hover {
        text-decoration: underline;
    }

    .top-row ::deep a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .top-row img {
        height: 50px;
        width: 50px;
    }

.nav-btn:hover svg {
    color: #111;
    fill: #111;
}

.nav-btn:hover .burger-icon span {
    background: #111;
}

.main-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    padding-left: 3vw;
    background: transparent;
    color: white;
    font-size: 1.2em;
    z-index: 100;
    pointer-events: none;
    user-select: none;
    font-weight: bold;
    margin-bottom: 4vh;
    transition: color 0.5s ease-in-out;
}

@media (max-width: 768px) {
    .top-row {
        width: 100vw;
    }
}

#blazor-error-ui {
    color-scheme: light only;
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }