@font-face {
    font-family: 'Soopafre';
    src: url('assets/fonts/soopafre.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.top-row {
    position: fixed;
    padding: .5rem;
    height: 5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #535b59; 
    color: white;
}

    .top-row h1 {
        font-family: 'Soopafre', sans-serif;
        padding-left: 3vw;
    }

    .top-row ::deep a, .top-row ::deep .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row ::deep a:hover, .top-row ::deep .btn-link:hover {
        text-decoration: underline;
    }

    .top-row ::deep a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

.nav-buttons {
    display: flex;
    justify-content: right;
    gap: 2rem;
    border-radius: 15px;
    padding-right: 3vw;
}

.nav-btn {
    background-color: #777d7c; 
    border: none;
    border-radius: 15px;
    font-size: 1rem;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.2s, transform 0.1s;
    outline: none;
    padding: .5rem;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 6vw;
    height: 5vh;
}

.nav-buttons .nav-btn:hover {
    background: rgba(255,255,255,0.9);
}

#blazor-error-ui {
    color-scheme: light only;
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }



.burger-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 24px;
    gap: 4px;
}

.burger-icon span {
    display: block;
    width: 24px;
    height: 3px;
    background: #fff;
    border-radius: 2px;
    transition: all 0.2s;
}

.nav-btn:hover svg {
    color: #111;
    fill: #111;
}

.nav-btn:hover .burger-icon span {
    background: #111;
}

.main-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    padding-left: 3vw;
    background: transparent;
    color: white;
    font-size: 1.2em;
    z-index: 100;
    pointer-events: none;
    user-select: none;
    font-weight: bold;
    margin-bottom: 4vh;
}

@media (max-width: 768px) {
    .top-row {
        width: 100vw;
    }
}