.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    gap: 1vw;
    background-color: var(--album-bg, #535b59);
    transition: background-color 2s cubic-bezier(.34,1.56,.64,1);
}

.album-view {
    margin-top: 10%;
}

.album-art {
    width: 500px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

.album-wrapper {
    display: flex;
    align-items: center;
    gap: 2vw; /* Adjust as needed for desired spacing */
}

.album-details {
    display: flex;
}

.album-info {
    width: 50%;
}

.album-info h1, h2 {
    margin: 0;
}

.meta-info {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
