@page "/album/{albumId:int}"
@rendermode InteractiveServer
@using FRONTEND.Components.Shared
@using FRONTEND.Data
@using FRONTEND.Services

@inject IColorAnalysisService ColorService
@inject ICurrentAlbumColorService CurrentAlbumColorService
@inject IVinylService VinylService
@inject IColorAnalysisService ColorService

@{
    CurrentAlbumColorService.CurrentAlbumColor = album?.PrimaryColour ?? "#000000";
    var textColor = CurrentAlbumColorService.TextColor;
    var layoutTextColor = CurrentAlbumColorService.IsColorBright ? "black" : "white";
}

<Search IsBackVisible="true"/>
<div class="container" style="--album-bg: @(album?.PrimaryColour); --layout-text-color:@layoutTextColor;">
    <div class="album-view">
        <div class="album-wrapper">
            <img src="@album?.ImgSrc" alt="@album?.Name" class="album-art" />
            <img src="@album?.ImgSrcBack" alt="@album?.Name" class="album-art" />
        </div>
        <div class="album-details">
            <div class="album-info">
                <h1 style="@textColor">@album?.Name</h1>
                <h2 style="@textColor">@album?.Artist</h2>   
                 
            </div>

            <div class="meta-info">
                <Rating Value="@album!.Rating" TextColor="@textColor"></Rating>   
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public int albumId { get; set; }
    
    private Album? album;

    protected override async Task OnInitializedAsync()
    {
        album = await VinylService.GetAlbumByIdAsync(albumId);
    }
}
