.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    gap: 1vw;
    background-color: var(--album-bg, #535b59);
    transition: background-color 2s cubic-bezier(.34,1.56,.64,1);
}